.wrapper {
  display: inline;
  position: relative;
  box-sizing: border-box
}

.checked {
  padding-right: 2rem;
  /* 0.5rem (padding) + 1.5rem (width of icon) */
}

.icon {
  position: absolute;
  right: 0.25rem;
  top: 0.775rem;
  /* 0.15rem (margin) + 0.125rem (padding) + 0.5rem (half of font) */
  transform: translateY(-50%);
}