.input-prompt>* {
  display: inline-block;
  margin: 0.15rem 0;
  padding: 0.5rem 0;
}

.input-prompt p {
  margin: 0;
}

.text-input {
  margin: 0.2rem;
}

.interactive-table tr:nth-child(even) {
  background: transparent;
}

.interactive-table thead {
  background: transparent;
}

.interactive-table th {
  padding: 0.4rem;
  background: transparent;
  background: #11111111;
}

.interactive-table td {
  padding: 0.4rem;
  text-align: center;
}